@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,700,900");
@font-face {
  font-family: playfair_black;
  src: url(../fonts/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: urwgrotesk;
  src: url(../fonts/URW-Grotesk-T-OT-Light_46557.ttf);
}

body {
  font-family: urwgrotesk;
  font-weight: 300;
  font-size: 1em;
  color: #000;
}

nav {
  background-color: #fff;
}

.nav-link {
  color: #000;
}

.nav-item {
  padding: 10px;
}

.navbar-brand img {
  height: 25px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-item {
  color: #e9e8e8;
}

.nav-item :hover {
  color: #000;
}

.nav-item li.active {
  color: #000;
  font-weight: 900;
}

.cool-link {
  display: inline-block;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

h1 {
  font-family: playfair_black;
  font-size: 2.5em;
}

h5 {
  font-family: playfair_black;
  font-size: 5.5vw;
}

h2 {
  font-family: urwgrotesk;
  font-weight: 300;
  font-size: 4vw;
}

h3 {
  font-family: urwgrotesk;
  font-size: 1em;
  font-weight: 700;
}

h4 {
  font-family: urwgrotesk;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e8e8;
  margin-bottom: 0px;
  max-height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron_txt {
  width: 100%;
}

.jumbotron_img img {
  min-width: 130px;
  min-height: 150px;
  width: 75%;
  padding: 20px;
}

.img_container {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: auto;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  color: #fff;
  background-color: #000;
  height: 150px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  font-size: 0.75em;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75em;
}

.footer_img {
  height: 75px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

strong {
  font-weight: 700;
}

.card_img img {
  padding: 20px;
}

.contact {
  padding: 20px;
  margin: 20px;
}

.intro, .info {
  padding: 20px;
  margin: 20px;
}

.card_img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px;
  height: 200px;
  width: 200px;
}

.card_img img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  margin: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  justify-items: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* Style the back side */
.flip-card-back {
  background-color: #f2f2f2;
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 20px;
  padding-top: 33%;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flip-card-back h1 {
  font-size: 18px;
}

.flip-card-back h2 {
  font-size: 14px;
}

#button {
  display: inline-block;
  background-color: #000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s,  opacity .5s, visibility .5s;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-envelope {
  background: #c03a30;
  color: white;
}
/*# sourceMappingURL=style.css.map */